footer{
    color: #ffffff;
    background-color: #0B1320;

}
footer > .center{
    justify-content: space-between;
    align-items: center;
}
footer h3{
    font-size: 20px;
    margin: 20px 40px;
}
footer > .center > div{
    margin-right: 50px;
}
footer > .center > div > a{
    text-decoration: none;
    color: #ffffff;
    margin: 20px;
}
footer > .center > div > a >i:hover{
    animation: shake 0.7s ;
    animation-iteration-count: 1;
}
@keyframes shake{
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}
@media (max-width: 743px){
    footer{
        text-align: center;
    }
    footer > .center{
        justify-content: center;        
    }
    footer > .center > div{
        margin-left: 20px;
    }
}