section.habilidades{
    background-color: #0F151D;
}
.habilidades > .center > h2{
    font-size: 60px;
    color: white;
    width: 100%;
    padding: 100px;
    text-align: center;
}
.columnH{
    width: 50%;
}
.box_h1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.box_single_h1{
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 15px;
    border: 1px solid #c0c0c0;
    background-color: #000000;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    flex-grow: 1;
    transition: 0.3s;
}
.box_single_h1:hover{
    transform: scale(1.1);
    border: 2px solid gold;
}

.box_single_h1 i{
    color: white;
}
.habi_texto{
    padding: 45px 100px;
    width: 50%;
    color: #c0c0c0;
    font-size: 24px;
    font-weight: 700;
}
@media (max-width: 1280px) {
    section.habilidades > .center > h2{
        order: 0;
    }
    .columnH{
        width: 100%;
        order: 2;
    }
    .habi_texto{
        height: 260px;
        order: 1;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .habilidades > .center > h2{
        font-size: 50px;
    }
    .habi_texto{
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .habilidades > .center > h2{
        font-size: 40px;
    }
}
@media (max-width: 450px) {
    .habilidades > .center > h2{
        font-size: 35px;
        padding: 50px;
    }
    .habi_texto{
        font-size: 15px;
    }
}
@media (max-width: 350px) {
    .habi_texto{
        padding: 45px 50px;
    }
}