*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body *{
    max-width: 1920px;
}
::-webkit-scrollbar{
    background-color: #10161F;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #c0c0c0;
    width: 5px;
    border-radius: 5px;
}
.center{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}



header{
    background-color: #0B1320;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    position: fixed;
    z-index: 2;
    transition: 0.5s;
}
header.scroll{
    padding: 0 20px;
}




.logo{
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;    
    color: #f1b;
    transition: 0.1s;
}
.logo:hover{
    text-shadow: 0 0 8px rgba(241, 0, 0, 0.3), 0 0 32px;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 18px;
}
.menu a:hover{
    color: gold;
}



.mockup{
    background-color: #10161F;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.mockup_texto{
    width: 50%;
    padding: 10.5% 0% 10.5% 17%;
    z-index: 0;
}
.image_1{
    width: 40%;
    margin-top: 7%;
}
.image_1 > img{
    width: 100%;
}
.icon{
    padding: 7% 0 0 0;
    width: 100%;
    text-align: center;
}
.icon > a >i{
    color: #5A6B85;
    margin: 10px 0 80px 0;
    text-align: center;
    transition: 0.1s;
}
.icon > a >i:hover{
    font-size: 52px;
}
.mockup_texto h1{
    font-size: 26px;
    color: white;
    font-weight: 400;
}
.mockup_texto h1 > span{
    font-size: 50px;
    font-weight: 700;
}

.menu-mobile{
    display: none;
    width: 50%;
    text-align: right;
}
.menu-mobile i{
    color: white;
    font-size: 23px;
    cursor: pointer;
}


@media (max-width: 1500px){
    header{
        padding: 0px 200px;
    }
}
@media  (max-width: 1280px){
    header{
        padding: 0px 20px;
    }
    .image_1{
        display: none;
    }
    .mockup_texto{
        width: 100%;
        text-align: center;
        padding: 10.5% 0%;
    }
}
@media (max-width: 1000px) {
    .menu{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .itens-mobile{
        opacity: 0;
        transition: 0.4s;
        background-color: #0B1320;
        position: absolute;
        right: 0;
        top: 35px;
        padding: 20px 20px 20px 5px;
        text-align: center;
    }
    .mostrar{
        opacity: 1;
    }
    .ocultar{
        opacity: 0;
    }
    .itens-mobile li{
        list-style-type: none;
        margin-top: 10px;

    }
    .itens-mobile a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin-left: 18px;
    }
    .itens-mobile a:hover{
        color: gold;
    }
    .mockup_texto{
        padding: 20% 0%;
    }
}
@media (max-width: 450px){
    .mockup_texto h1{
        font-size: 20px;
    }
    .mockup_texto h1 > span{
        font-size: 40px;
    }
    .mockup_texto{
        padding: 30% 0%;
    }
}
@media (max-width: 350px){
    .mockup_texto h1{
        font-size: 18px;
    }
    .mockup_texto h1 > span{
        font-size: 35px;
    }
    .mockup_texto{
        padding: 45% 0%;
    }
}
@media (max-width: 300px){
    .mockup_texto h1{
        font-size: 16px;
    }
    .mockup_texto h1 > span{
        font-size: 30px;
    }
    .mockup_texto{
        padding: 45% 0%;
    }
}