section.sobre{
    background-color: #0F151D;
}
.image_2{ 
    margin-top: 50px;
    width: 50%;
    object-fit: scale-down;
    padding: 5%;
    height: 550px;
}
.sobre_texto{
    margin-top: 50px;
    margin-bottom: 15%;
    width: 50%;
    padding-right: 200px;
}
.sobre_texto h2{
    margin: 100px 0 50px 0;
    font-size: 60px;
    color: white;
}
.sobre_texto h3{
    font-size: 26px;
    color: #C0C0C0;
}
@media (max-width: 1700px){
    .image_2{
        width: 40%;
    }
    .sobre_texto{
        width: 60%;
    }
}
@media (max-width: 1417px){
    .image_2{
        width: 100%;
        margin-top: 50px;
    }
    .sobre_texto{
        margin-top: 0px;
        width: 100%;
        text-align: center;
        padding: 0 10%;
    }
}
@media (max-width: 768px){
    .sobre_texto h3{
        font-size: 22px;
        color: #C0C0C0;
    }
}
@media (max-width: 550px) {
    .sobre_texto h2{
        font-size: 50px;
    }
    .sobre_texto h3{
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .sobre_texto h2{
        font-size: 40px;
    }
}
@media (max-width: 450px) {
    .sobre_texto{
        margin-top: -100px;
        margin-bottom: 20%;
    }
    .sobre_texto h2{
        font-size: 35px;
    }
    .sobre_texto h3{
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    .sobre_texto{
        margin-top: -150px;
    }
}